################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ActionResultAndFilters/.vs/ActionResultAndFilters/config
/ActionResultAndFilters/.vs/ActionResultAndFilters/v16/Server/sqlite3
/ActionResultAndFilters/ActionResultAndFilters/bin
/ActionResultAndFilters/ActionResultAndFilters/obj/Debug
/ActionResultAndFilters/packages
/ActionResultAndFilters/.vs/ActionResultAndFilters/v16
/Authentication Filter/.vs/CustomAuthenticationFilter/v16
/Authentication Filter/.vs/CustomAuthenticationFilter/config
/Authentication Filter/CustomAuthenticationFilter/bin
/Authentication Filter/CustomAuthenticationFilter/obj/Debug
/Authentication Filter/packages
